
    <h4 [ngStyle]="{'color': optionColor }">Using Property Binding with value of style</h4><br>
    <h4 *ngFor="let c of optionText" [ngStyle]="{'color': c == 'If aproved BLUE' ? 'blue':'red'}">{{c}}</h4>

<textarea style="width: 700px; height: 400px;" disabled>

    Follow 2 examples of styles with directive ngStyle
    
Exemple 01:

    optionColor:string = 'green'
    <h4 [ngStyle]="{'color': optionColor }">Using Property Binding with value of style</h4><br>

Exemple 02:

optionText:string[] = ['If aproved BLUE','If aproved RED']
    <h4 *ngFor="let c of optionText" [ngStyle]="{'color': c == 'If aproved BLUE' ? 'blue':'red'}">{ {c} }</h4>
    
</textarea>