
    <h4 [ngStyle]="{'color': optionColor }">This text is blue because it is visible</h4><br>
    <h4 *ngFor="let c of optionText" [ngStyle]="{'color': c == 'very' ? 'green':'blue'}">{{c}}</h4>

<textarea style="width: 700px; height: 300px;" disabled>

    Follow 2 examples of styles with directive ngStyle
    
Exemple 01:

    optionColor:string = 'blue'
    <h4 [ngStyle]="{'color': optionColor }">This text is blue because it is visible</h4><br>

Exemple 02:

    optionText:string[] = ['very','very','good']
    <h4 *ngFor="let c of optionText" [ngStyle]="{'color': c == 'very' ? 'green':'blue'}">{ {c} }</h4>

  

    
</textarea>