<textarea style="width: 700px; height: 400px;" disabled>

    For create a component, we using the command:

    ng generate component app/ [directorie target] / [name component]

Exemple:    

    ng g c app/home/formulario-cadastro = 'generate component'
    ng g s app/home/formulario-cadastro = 'generate service'
    ng g d app/home/formulario-cadastro = 'generate directive'
    ng g cl app/home/formulario-cadastro = 'generate class'
    ng g m app/home/formulario-cadastro = 'generate module'
    and others...

</textarea>
