<h3>How install Material in angular</h3>
<textarea style="width: 700px; height: 200px;" disabled>


ng add @angular/material



</textarea>
<br>

<h3>How install Jquery in angular</h3>
<textarea style="width: 700px; height: 200px;" disabled>

npm install --save jquery@latest

npm i --save-dev @types/jquery

after, import it in your main.tsfile:

import * as $ from 'jquery';

then afeter you need set in angular.json on 37 line approximately

            "scripts": [
              "node_modules/jquery/dist/jquery.min.js"
            ]

</textarea>


