
.classSimple {
    font-size: small;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.classPerfomatic {
    font-size: large;
    color:red;
    font-family: 'Courier New', Courier, monospace;
}