
<p></p>

<div [ngSwitch]="course">
    <p *ngSwitchCase="'html'">Hyper Text Markup Language</p>
    <p *ngSwitchCase="'Css'">Cascading Style Sheets</p>
    <p *ngSwitchCase="'Js'">Java Script</p>
    <p *ngSwitchDefault>no value selected</p>
</div>

<select [(ngModel)]="selectedValue" (change)="selectOption()" style="width: 300px;" class="form-select">
    <option value="" selected>Select Value</option>
    <option value="{{ option }}" *ngFor ="let option of optionsCourse; index as idx">{{ option }}</option>
</select>

<br><br>

<textarea style="width: 800px; height: 420px;" disabled>

    import FormsModule for can use ngModel and store the value bring of element select
    
Exemple:

<select [(ngModel)]="selectedValue" (change)="selectOption()" style="width: 300px;" class="form-select">
    <option value="" selected>Select Value</option>
    <option value="{ { option } }" *ngFor ="let option of optionsCourse; index as idx">{ { option } }</option>
</select>

    <div [ngSwitch]="course">
        <p *ngSwitchCase="'html'">Hyper Text Markup Language</p>
        <p *ngSwitchCase="'Css'">Cascading Style Sheets</p>
        <p *ngSwitchCase="'Js'">Java Script</p>
        <p *ngSwitchDefault>no value selected</p>
    </div>

    selectOption(){
        this.course = this.selectedValue
      }
    
</textarea>
