
Use this property as false allows you initializate a variable without no one value
<b>"strictNullChecks": false</b>
<br><br>
<textarea style="width: 700px; height: 550px;" disabled>
    {
        "compileOnSave": false,
        "compilerOptions": {
          "strictNullChecks": false,
          "outDir": "./dist/out-tsc",
          "strict": true,
          "noImplicitOverride": true,
          "noPropertyAccessFromIndexSignature": true,
          "noImplicitReturns": true,
          "noFallthroughCasesInSwitch": true,
          "skipLibCheck": true,
          "esModuleInterop": true,
          "sourceMap": true,
          "declaration": false,
          "experimentalDecorators": true,
          "moduleResolution": "node",
          "importHelpers": true,
          "target": "ES2022",
          "module": "ES2022",
          "useDefineForClassFields": false,
          "lib": [
            "ES2022",
            "dom"
          
        },
</textarea>