<textarea style="width: 700px; height: 400px;" disabled>

    For install Bootstraps last version in root folder project angular type follow command bellow:


Exemple

    npm install bootstrap

    then afeter you need set in angular.json on 32 line approximately

    "styles": [
              "node_modules/bootstrap/dist/css/bootstrap.min.css",
              "src/styles.scss"
            ],
            "scripts": [
              "node_modules/bootstrap/dist/js/bootstrap.min.js"
            ]


</textarea>
