<a href="/"><img [src]="angularImg" style="width: 10vw;"></a><br><br>
   <table>
  <tr>
    <td style="vertical-align: top;">         
      <div class="pill-group col" style="width: 350px; padding: 0.3rem;" *ngFor="let item of myitem">
           <a class="pill" target="_self" routerLink="{{item.link}}" routerLinkActive="active"><div style="width: 270px; text-align: left;">{{ item.title }} {{ item.subtitle }}</div></a>
      </div>
  </td>
  <td style="vertical-align: text-top;">
    <div>
       <router-outlet></router-outlet>
    </div>
  </td>
</tr>
 </table>
 <br>
  
   



