   
   <table>
    <tr>
      <td>
        <div class="pill-group col" style="width: 250px;">
          <a href="/"><img [src]="angularImg" style="width: 100px;"></a><br>
            <a class="pill" target="_self" href="/lesson04">Lesson 04 Create component</a>
            <a class="pill" target="_self" href="/lesson05">Lesson 05 Text interpolation</a>
            <a class="pill" target="_self" href="/lesson06">Lesson 06 Event binding</a>
            <a class="pill" target="_self" href="/lesson07">Lesson 07 Property binding</a>
            <a class="pill" target="_self" href="/lesson08">Lesson 08 Directive NgIf</a>
            <a class="pill" target="_self" href="/lesson09">Lesson 09 Directive NgFor</a>
            <a class="pill" target="_self" href="/lesson10">Lesson 10 NgSwitch</a>
        </div>

    </td>
    <td>
      <router-outlet courses=""></router-outlet>
    </td>
  </tr>
   </table>

   
  
   



