<h1>Well come to Devtools - manual for developers</h1>
<p>This is an environment where you discover and learn different types of languages ​​and technologies needed to confidently develop your application for test or production.s</p>

   
    <button id="button" class="btn btn-secondary">Load data</button>

    <br><br>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <td>Cep</td>
                <td>Logradouro</td>
                <td>Bairro</td>
                <td>Estado</td>
                <td>Ibge</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dt of dataCep">
                <td>{{ dt.cep }}</td>
                <td>{{ dt.logradouro }}</td>
                <td>{{ dt.bairro }}</td>
                <td>{{ dt.estado }}</td>
                <td>{{ dt.ibge }}</td>
            </tr>
        </tbody>
    </table>
   
