<h1>Well come to Learn Angular 17 with FMV - fracioned memory verification</h1>
<p>Code scaffolding
    Run ng generate component component-name to generate a new component. You can also use ng generate directive|pipe|service|class|guard|interface|enum|module.</p>

    <input id="button" class="btn btn-primary" value="Load Data CEP ">

    <br><br>

    <ul *ngFor="let dt of dataCep">
        <li>Cep - {{ dt.cep }}</li>
        <li>Logradouro - {{ dt.logradouro }}</li>
        <li>Bairro - {{ dt.bairro }}</li>
        <li>Estado - {{ dt.estado }}</li>
        <li>Ibge - {{ dt.ibge }}</li>
    </ul>
   
