<textarea style="width: 700px; height: 400px;" disabled>

    For install json-server last version in root folder project angular type follow command bellow:

Exemple

    npm i json-server

    after instalation create a file example "db.json" and run server with command

    npx json-server db.json

    Based on the example db.json, you'll get the following routes:

    GET    /posts
    GET    /posts/:id
    POST   /posts
    PUT    /posts/:id
    PATCH  /posts/:id
    DELETE /posts/:id


</textarea>
