
.boxBoard {
    margin-top: 100px;
}

.bd-highlight {
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .15);
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }