
<form [formGroup]="form01">
    <input type="text"   formControlName="name"    placeholder="name"    class="form-control">
    <input type="text"   formControlName="phone"   placeholder="phone"   class="form-control">
    <input type="text"   formControlName="email"   placeholder="email"   class="form-control">
    <input type="button" value="Resgister" class="btn btn-primary" (click)="registerContact()">
    <input type="button" value="Update"   class="btn btn-primary">
    <input type="button" value="Remove"   class="btn btn-primary">
    <input type="button" value="Cancel"  class="btn btn-primary" (click)="cleanForm()">
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Selecionar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngfor="let c of contact; index as idx">
            <td>{{ idx }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.phone }}</td>
            <td>{{ c.email }}</td>
            <td><button class="btn btn-primary">Selecionar</button></td>
        </tr>
    </tbody>
</table>